@font-face {
  font-family: "Cormorantinfant";
  font-display: swap;
  src: url("../fonts/Cormorantinfant.woff") format("woff"), url("../fonts/Cormorantinfant.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorantinfant";
  font-display: swap;
  src: url("../fonts/Cormorantinfantbold.woff") format("woff"), url("../fonts/Cormorantinfantbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  font-display: swap;
  src: url("../fonts/ralewaybold.woff") format("woff"), url("../fonts/ralewaybold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  font-display: swap;
  src: url("../fonts/ralewaymedium.woff") format("woff"), url("../fonts/ralewaymedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  font-display: swap;
  src: url("../fonts/ralewayregular.woff") format("woff"), url("../fonts/ralewayregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* *****************************

BVSelect Jquery Plugin Styles
Developed by: Bruno Vieira

**************************** */

.bv_mainselect {
  color: #fff;
  padding: 7px 5px 7px 5px;
  border-radius: 6px;
  font-family: Arial;
  font-size: 10pt;
}

.bv_atual {
  width: 100%;
  outline: none;
  background: #F8F8F8;
  border: 1px solid #70908B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 5px 11px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #195557;
  cursor: pointer;
}

.bv_disabled {
  background-color: #e6e6e6 !important;
  cursor: default !important;
}

.bv_separator {
  font-weight: 700;
  color: #282828 !important;
  cursor: default !important;
  background-color: transparent !important;
}

.bv_background {
  background-color: #fff;
}

.arrow {
  border: solid #195557;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  float: right;
  pointer-events: none;
}

.up {
  -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 5px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.down {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 2px;
}

.bv_ul_mobile {
  width: 80% !important;
  position: fixed !important;
  top: 5% !important;
  left: 10% !important;
  border: 0px !important;
  height: 90% !important;
  margin: 0px !important;
  overflow-y: scroll;
  z-index: 10 !important;
  max-height: 100% !important;
}

.bv_ul_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
}

.bv_ul_mobile li {
  padding: 20px !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.bv_ul_inner {
  position: absolute;
  margin-top: 10px;
  padding: 0;
  display: none;
  border: 2px solid #e1e1e1;
  border-radius: 8px;
  display: none;
  z-index: 1;
  max-height: 400px;
  overflow-x: auto;
}

.bv_ul_inner li {
  cursor: pointer;
  list-style: none;
  color: #195557;
  padding: 5px 0 5px 9px;
  font-family: arial;
  font-size: 10pt;
  padding: 12px 28px 10px 10px;
}

.bv_ul_inner i {
  color: #464646;
  font-size: 17pt;
  margin-right: 10px;
  float: left;
  margin-top: -1px;
  margin-left: 3px;
}

.bv_ul_inner li img {
  float: left;
  margin-right: 11px;
  position: relative;
  bottom: 6px;
  max-width: 30px;
  /* Change to fit your images */
}

.bv_ul_inner li input {
  padding: 0px;
  border: 0px;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  color: black;
  height: 38px;
  width: 100%;
  background-color: transparent;
  font-size: 10pt;
  font-weight: bold;
}

.bv_ul_inner li:hover {
  background-color: #eee;
}

.nofocus {
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 0px !important;
  border-bottom: 2px solid #e1e1e1;
}

.innerinput {
  padding: 0px 9px 0px 10px;
}

*:focus {
  outline: none !important;
}

body {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body ul,
body li {
  padding: 0;
  margin: 0;
}

body .btn {
  background: #70908B;
  padding: 26px 117px;
  border-radius: 40px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

body .btn:hover {
  background: -o-linear-gradient(359.86deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
  background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
  -webkit-box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
          box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
  color: #195557;
}

body button {
  outline: none;
  border: none;
  background: transparent;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

body .svg-Logo-dims {
  width: 120px;
  height: 68px;
}

body .svg-hedgehog-dims {
  width: 452px;
  height: 103px;
}

body .svg-1-dims {
  width: 458px;
  height: 566px;
}

body .svg-1027086829-removebg-preview_1-dims {
  width: 213px;
  height: 301px;
}

body .svg-2-dims {
  width: 456px;
  height: 347px;
}

body .svg-63680734824-removebg-preview_1-dims {
  width: 363px;
  height: 265px;
}

body .svg-ant-design_heart-twotone-dims {
  width: 43px;
  height: 43px;
}

body .svg-ant-design_info-circle-outlined-dims {
  width: 37px;
  height: 37px;
}

body .svg-basket-dims {
  width: 45px;
  height: 38px;
}

body .svg-bx_bxs-right-arrow-dims {
  width: 10px;
  height: 10px;
}

body .svg-carbon_phone-filled-dims {
  width: 32px;
  height: 32px;
}

body .svg-eva_plus-fill-dims {
  width: 40px;
  height: 40px;
}

body .svg-la_syringe-solid-dims {
  width: 46px;
  height: 46px;
}

body .svg-like-dims {
  width: 22px;
  height: 22px;
}

body .svg-openmoji_hedgehog-dims {
  width: 72px;
  height: 72px;
}

body .svg-pen-dims {
  width: 20px;
  height: 19px;
}

body .svg-typcn_social-facebook-circular-dims {
  width: 40px;
  height: 40px;
}

body .svg-typcn_social-instagram-circular-dims {
  width: 40px;
  height: 40px;
}

body .svg-typcn_social-twitter-circular-dims {
  width: 40px;
  height: 40px;
}

body ul,
body li {
  list-style-type: none;
}

.ellipse1 {
  position: absolute;
  width: 1048px;
  height: 1048px;
  left: -533px;
  top: -479px;
  z-index: 1;
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(180, 197, 194, 0.83) 0%, rgba(224, 225, 225, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, rgba(180, 197, 194, 0.83) 0%, rgba(224, 225, 225, 0) 100%);
}

.ellipse2 {
  position: absolute;
  width: 1582px;
  height: 1582px;
  right: 0px;
  top: 0px;
  z-index: 1;
  background: -o-radial-gradient(100% 40%, 100% 50%, rgba(255, 238, 206, 0.49) 0%, rgba(196, 196, 196, 0) 100%);
  background: radial-gradient(100% 50% at 100% 40%, rgba(255, 238, 206, 0.49) 0%, rgba(196, 196, 196, 0) 100%);
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
}

.header {
  padding-top: 31px;
  height: 117px;
  position: relative;
}

.header .container {
  max-width: 1825px;
  height: 100%;
}

.header .container .row {
  height: 100%;
}

.header__logo {
  margin-right: 570px;
  position: relative;
  z-index: 100;
}

.header__menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.header__menu .main__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 100;
}

.header__menu .main__menu li {
  margin-right: 90px;
  min-width: 89px;
}

.header__menu .main__menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cormorant Infant";
  font-weight: 700;
  font-size: 16px;
  color: #195557;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  position: relative;
}

.header__menu .main__menu li a:hover {
  color: #000;
  font-weight: 700;
}

.header__menu .main__menu li a:hover:before {
  width: 100%;
}

.header__menu .main__menu li a:before {
  content: "";
  position: absolute;
  -webkit-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
  left: 0px;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #195557;
}

.header__menu .main__menu li a:after {
  content: "";
  position: absolute;
  -webkit-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
}

.header__menu .main__menu li:last-child {
  margin-right: 0;
}

.header__menu .sub__menu {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 20px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #FFFEFE;
  -webkit-box-shadow: 4px 4px 20px #C2CCCA;
          box-shadow: 4px 4px 20px #C2CCCA;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.header__menu .sub__menu li {
  margin: 0;
}

.header__menu .svg-bx_bxs-right-arrow-dims {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  margin-right: 5px;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
  position: relative;
  z-index: 100;
}

.header__call .phone {
  background: -o-linear-gradient(88.64deg, #B0D3CE 12.29%, #FFEDCE 83.89%);
  background: linear-gradient(1.36deg, #B0D3CE 12.29%, #FFEDCE 83.89%);
  -webkit-box-shadow: -4px -4px 20px #FFFFFF, 4px 4px 20px #CFD7D3;
          box-shadow: -4px -4px 20px #FFFFFF, 4px 4px 20px #CFD7D3;
  border-radius: 40px;
  width: 69px;
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
}

.header__call .phone img {
  width: 100%;
}

.header__call .callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 50px;
}

.header__call .callback h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: lowercase;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #195557;
  margin: 0;
}

.header__call .callback a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #195557;
  text-decoration: none;
}

.header__call .basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-top {
  background: url("../img/Subtract.png") center center/cover no-repeat;
  height: 992px;
  position: relative;
}

.main-top__title {
  text-align: center;
  margin-top: 173px;
}

.main-top__title .descr {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  color: #70908B;
  margin-top: 10px;
}

.main-top__title .sub__descr {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #70908B;
  margin-top: 5px;
}

.main-top__title .btn {
  -webkit-box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
          box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
  margin-top: 34px;
  position: relative;
  z-index: 100;
}

.main-top__info {
  max-width: 874px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 127px;
}

.main-top__info .icon {
  background: #FFEDCD;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
          box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
  margin-bottom: 30px;
}

.main-top__info .la_syringe {
  background: #E2F0DF;
  -webkit-box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
          box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
}

.main-top__info .design_heart {
  background: #70908B;
  -webkit-box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
          box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
}

.main-top__info .title {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #195557;
  margin-bottom: 8px;
}

.main-top__info .descr {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #195557;
  max-width: 191px;
}

.main-top__info .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-top__info-left {
  margin-top: 30px;
}

.main-top__info-right {
  margin-top: 30px;
}

.main-top .hedgehog-left {
  position: absolute;
  bottom: -85px;
  left: 0;
  width: 384px;
  height: 480px;
  background: url("../img/hedgehog-left.png") left center/cover no-repeat;
}

.main-top .hedgehog-right {
  z-index: 1;
  position: absolute;
  bottom: -27px;
  right: 0;
  width: 381px;
  height: 311px;
  background: url("../img/hedgehog-right.png") left center/cover no-repeat;
}

.main-bottom {
  padding-top: 102px;
}

.main-bottom .container {
  max-width: 1182px;
}

.main-bottom .container .row {
  margin: 0 auto;
}

.main-bottom__card {
  -webkit-clip-path: polygon(100% 0, 100% 81%, 86% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 81%, 86% 100%, 0 100%, 0 0);
  background: #FFEDCD;
  -webkit-box-shadow: inset 4px 4px 40px #F1F1F1;
          box-shadow: inset 4px 4px 40px #F1F1F1;
  border: none;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.main-bottom__card .card__info {
  padding: 60px;
  padding-right: 0;
}

.main-bottom__card .card__info .title {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #195557;
  margin-bottom: 17px;
}

.main-bottom__card .card__info .descr {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  max-width: 204px;
}

.main-bottom__card .card__info .old__price {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #C2CCCA;
  margin-top: 10px;
}

.main-bottom__card .card__info .price {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #195557;
  margin-top: 10px;
}

.main-bottom__card .card__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 61px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-bottom__card .card__image .shadow {
  width: 406px;
  height: 94px;
  position: absolute;
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(56, 56, 56, 0.56) 0%, rgba(237, 237, 237, 0) 85%);
  background: radial-gradient(50% 50% at 50% 50%, rgba(56, 56, 56, 0.56) 0%, rgba(237, 237, 237, 0) 85%);
  -webkit-transform: rotate(-9.43deg);
      -ms-transform: rotate(-9.43deg);
          transform: rotate(-9.43deg);
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  bottom: 14px;
  right: -60px;
}

.main-bottom__card .card__image img {
  width: 100%;
}

.main-bottom .green {
  background: #E2F0DF;
}

.main-bottom .purple {
  background: #EAEEEF;
}

.main-bottom .col-12 {
  position: relative;
  margin: 0 auto;
  max-width: 571px;
  margin-bottom: 27px;
}

.main-bottom .col-12 .sale {
  position: absolute;
  width: 68px;
  height: 36px;
  left: 75px;
  top: -10px;
  background: #70908B;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  z-index: 1;
}

.main-bottom .col-12 .task {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 10;
  cursor: pointer;
}

.main-bottom .col-12 .task__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-transform: lowercase;
  color: #FFFFFF;
  width: 220px;
  height: 88px;
  -webkit-clip-path: polygon(50% 0, 60% 14%, 100% 14%, 100% 100%, 0 100%, 0 14%, 40% 14%);
          clip-path: polygon(50% 0, 60% 14%, 100% 14%, 100% 100%, 0 100%, 0 14%, 40% 14%);
  background: #195557;
  position: absolute;
  right: -92px;
  padding-top: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.main-bottom .col-12 .task__info object {
  width: 30px;
  height: 30px;
}

.main-bottom .col-12 .task__info object svg {
  margin-top: -53px;
}

.main-bottom .col-12 .task__info object svg path {
  fill: #fff;
}

.main-bottom .col-12 .task__info .sprite__opacity {
  opacity: 0;
  visibility: hidden;
}

.main-bottom .col-12 .task__info .status {
  margin-right: 29px;
}

.main-bottom .col-12 .task__info img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.main-bottom .col-12 .add__product {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 8px;
  right: 8px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  z-index: 100;
}

.main-bottom .col-12 .add__product:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  background: #70908B;
  padding-top: 49px;
  padding-bottom: 30px;
  margin-top: 141px;
}

.footer .container {
  max-width: 1800px;
}

.footer__descr {
  margin-top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 131.4%;
  color: #FFFFFF;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu ul li {
  margin-right: 87px;
  min-width: 52px;
}

.footer__menu ul li a {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__contacts {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__contacts .callback {
  margin-left: 58px;
}

.footer__contacts .callback h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: lowercase;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}

.footer__contacts .callback a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}

.modal-dialog {
  max-width: 579px;
}

.modal-dialog .modal-header {
  border: none;
}

.modal-dialog .modal-title {
  margin-top: 51px;
  font-family: " Cormorant Infant";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #195557;
}

.modal-dialog .close {
  position: absolute;
  right: 8px;
  top: 18px;
}

.modal-dialog .close img {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.modal-dialog .close img:hover {
  -webkit-transform: rotate(220deg);
      -ms-transform: rotate(220deg);
          transform: rotate(220deg);
}

.modal .form {
  position: relative;
}

.modal .form__item {
  position: relative;
}

.modal .form__item:nth-child(4) {
  margin-top: 28px;
  margin-bottom: 36px;
}

.modal .form__item .form__input {
  outline: none;
  border: none;
  padding-left: 27px;
  margin-top: 22px;
  width: 100%;
  height: 62px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #195557;
  background: #F8F8F8;
  border-radius: 8px;
}

.modal .form__item .form__input::-webkit-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #195557;
}

.modal .form__item .form__input::-moz-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #195557;
}

.modal .form__item .form__input:-ms-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #195557;
}

.modal .form__item .form__input::-ms-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #195557;
}

.modal .form__item .form__input::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #195557;
}

.modal .form__item .checkbox__input {
  display: none;
}

.modal .form__item .checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.modal .form__item .checkbox__label {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #195557;
  margin-left: 8px;
  width: 100%;
}

.modal .form__item .checkbox__label::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 12px;
  border: 1px solid #70908B;
  margin-right: 10px;
  border-radius: 2px;
}

.modal .form__item .checkbox__label::after {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  content: "";
  width: 8px;
  top: 2px;
  left: 2px;
  height: 8px;
  -webkit-clip-path: polygon(44% 87%, 76% 0, 89% 0, 51% 100%, 38% 100%, 15% 55%, 25% 49%);
          clip-path: polygon(44% 87%, 76% 0, 89% 0, 51% 100%, 38% 100%, 15% 55%, 25% 49%);
  background-color: #0f460f;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.modal .form__item .btn {
  border: none;
  width: 100%;
}

.modal .form__item .btn:focus {
  outline: none;
}

.modal .form p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #195557;
  text-align: center;
  margin-top: 18px;
}

.modal .form p a {
  color: #195557;
}

@media (max-width: 1432px) {
  .main-top .hedgehog-left {
    bottom: 4px;
    left: -73px;
    width: 301px;
    height: 389px;
  }

  .main-top .hedgehog-right {
    bottom: 46px;
    right: 0;
    width: 237px;
    height: 279px;
  }

  .main-bottom .col-12 .task__info {
    -webkit-clip-path: polygon(85% 0, 94% 14%, 100% 14%, 100% 100%, 0 100%, 0 14%, 73% 14%);
            clip-path: polygon(85% 0, 94% 14%, 100% 14%, 100% 100%, 0 100%, 0 14%, 73% 14%);
    right: -15px;
  }

  .main-bottom__card .card__image .shadow {
    right: 21px;
    width: 240px;
  }
}

@media (max-width: 1280px) {
  .header__menu .main__menu li {
    margin-right: 60px;
  }
}

@media (max-width: 1199px) {
  .offset-2 {
    margin-left: 12%;
  }

  .col-4 {
    width: 34.3%;
  }

  .header__menu .main__menu li {
    margin-right: 25px;
  }

  .header__call .phone {
    min-width: 69px;
    margin-right: 4px;
  }

  .header__call .callback {
    margin-right: 0;
  }

  .main-bottom__card .card__image {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 86px;
  }

  .main-bottom__card .card__image .shadow {
    right: -14px;
    bottom: 81px;
  }

  .ellipse2 {
    display: none;
  }

  .ellipse1 {
    display: none;
  }

  .main-top__info {
    max-width: 645px;
  }

  .footer__contacts .callback {
    margin-left: 30px;
  }

  .footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__menu ul li {
    margin-right: 25px;
  }

  .footer__menu ul li:last-child {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .header .col-5 {
    position: absolute;
    left: -100%;
    top: 10px;
    width: 50%;
    margin: 0;
    background: #FFFFFF;
    -webkit-box-shadow: 4px 4px 20px #E3E3E3;
            box-shadow: 4px 4px 20px #E3E3E3;
    border-radius: 0px 10px 10px 0px;
    z-index: 101;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
  }

  .header__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 99px;
    padding-bottom: 110px;
  }

  .header__menu .main__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header__menu .main__menu li {
    margin: 0;
    margin-bottom: 19px;
    padding-left: 28px;
  }

  .header__menu .main__menu li a {
    font-size: 25px;
  }

  .header__menu .main__menu li img {
    display: none;
  }

  .header__menu .main__menu li .sub__menu {
    display: none;
  }

  .header__menu_mob {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1000;
  }

  .header__menu_mob span {
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
    width: 25px;
    height: 2px;
    background: #195557;
    z-index: 100;
  }

  .header__menu_mob span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
  }

  .header__menu_mob span:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
  }

  .header__menu_mob span:nth-child(3) {
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
  }

  .header__call {
    padding-top: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: static;
  }

  .header__call .callback {
    position: absolute;
    left: -100%;
    top: 397px;
    z-index: 1000;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
  }

  .header__call .phone {
    margin-right: 32px;
  }

  .header .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header .col-1 {
    width: 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header .col-4 {
    width: 20%;
  }

  .header__logo {
    text-align: center;
    margin-right: 0;
  }

  .active__burder span:nth-child(1) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .active__burder span:nth-child(2) {
    display: none;
  }

  .active__burder span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
  }

  .active__callback {
    left: 60px !important;
  }

  .active__menu {
    left: 0 !important;
  }

  .block {
    position: absolute;
  }

  .main-top .hedgehog-left {
    display: none;
  }

  .main-top .hedgehog-right {
    width: 446px;
    bottom: -27px;
    height: 351px;
  }

  .main-top__info {
    position: relative;
  }

  .main-top__info-left {
    top: 0;
    left: 50px;
  }

  .main-top__info-center {
    top: 319px;
    left: 50px;
  }

  .main-top__info-right {
    top: 319px;
    right: 50px;
  }

  .main-bottom {
    padding-top: 400px;
  }

  .main-bottom__card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .main-bottom__card .card__info {
    padding: 44px 29px;
    padding-right: 0;
  }

  .main-bottom__card .card__image .shadow {
    width: 218px;
    right: -18px;
    bottom: 80px;
  }

  .main-bottom .col-12 .task {
    top: 7px;
    right: 63px;
  }

  .main-bottom .col-12 .task .svg-ant-design_info-circle-outlined-dims {
    display: none;
  }

  .main-bottom .col-12 .task .task__info {
    opacity: 1;
    visibility: visible;
    background: transparent;
    color: #195557;
    -webkit-clip-path: none;
            clip-path: none;
    width: 133px;
    height: 30px;
    padding: 0;
  }

  .main-bottom .col-12 .task .task__info svg path {
    fill: #195557;
  }

  .main-bottom .col-12 .task .task__info .status {
    margin-right: 10px;
  }

  .footer__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__contacts .callback {
    margin: 0;
    margin-top: 20px;
  }

  .footer .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 767px) {
  .header__logo {
    z-index: 500;
  }

  .header .col-1 {
    width: 46%;
  }

  .header .col-5 {
    width: 70%;
  }

  .header .col-4 {
    width: 0;
  }

  .main-top {
    height: 750px;
  }

  .main-top__title {
    margin-top: 47px;
  }

  .main-top__title img {
    width: 70%;
    display: block;
  }

  .main-top__title .descr {
    font-size: 43px;
    text-align: left;
  }

  .main-top__title .sub__descr {
    text-align: left;
  }

  .main-top .block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main-top__info {
    margin-top: 36px;
  }

  .main-top__info .descr {
    text-align: left;
  }

  .main-top__info-left {
    left: 0;
  }

  .main-top__info-center {
    left: 0;
  }

  .main-top__info-right {
    right: 0;
  }

  .main-top .hedgehog-right {
    width: 346px;
  }

  .main-bottom .col-12 .task {
    top: 12px;
    right: 71px;
  }

  .footer {
    margin-top: 56px;
    position: relative;
    padding-bottom: 98px;
  }

  .footer .col-md-3 img {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 61px;
  }

  .footer__descr {
    position: absolute;
    bottom: 0px;
    padding-bottom: 40px;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .footer__menu {
    text-align: center;
  }

  .footer__menu ul li {
    margin: 0;
  }

  .footer .social {
    position: absolute;
    top: 45px;
    right: 19px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .modal-dialog {
    max-width: 500px;
  }

  .modal .bv_ul_inner {
    overflow: auto;
  }
}

@media (max-width: 575px) {
  body .svg-basket-dims {
    height: 26px;
    width: 32px;
  }

  .header__menu_mob {
    top: 32px;
    left: 20px;
  }

  .header__logo img {
    width: 56px;
    height: 26px;
  }

  .header .col-1 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 39%;
  }

  .header .col-5 {
    width: 95%;
  }

  .header__call {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header__call .phone {
    min-width: 35px;
    width: 35px;
    height: 35px;
    margin-right: 13px;
  }

  .header__call .phone img {
    width: 13px;
    height: 13px;
  }

  .header__menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 480px;
  }

  .header__menu .main__menu li a {
    font-size: 16px;
  }

  .main-top {
    height: 517px;
  }

  .main-top__title {
    margin-top: 0;
  }

  .main-top__title .descr {
    line-height: 29px;
    font-size: 24px;
  }

  .main-top__title .sub__descr {
    font-size: 12px;
    line-height: 146.4%;
    /* or 18px */
  }

  .main-top__title .btn {
    margin-top: 21px;
    padding: 22px 92px;
  }

  .main-top .hedgehog-right {
    width: 179px;
    bottom: -17px;
    height: 184px;
  }

  .main-top .main-top__info {
    margin-top: 48px;
  }

  .main-top .main-top__info .title {
    font-size: 14px;
    line-height: 18px;
    max-width: 104px;
  }

  .main-top .main-top__info .descr {
    font-size: 10px;
    line-height: 159.9%;
    max-width: 110px;
  }

  .main-top .main-top__info .icon {
    width: 92px;
    height: 92px;
  }

  .main-top .main-top__info .block {
    margin-top: 0;
  }

  .main-top .main-top__info-left {
    left: 12px;
  }

  .main-top .main-top__info-center {
    top: 227px;
    left: 12px;
  }

  .main-top .main-top__info-right {
    top: 227px;
    right: 12px;
  }

  .main-bottom {
    padding-top: 329px;
  }

  .main-bottom .col-12 .sale {
    width: 48px;
    height: 21px;
    font-size: 12px;
    line-height: 14px;
    left: 42px;
    top: -4px;
  }

  .main-bottom .col-12 .task {
    top: 2px;
    right: 26px;
  }

  .main-bottom .col-12 .task__info {
    font-size: 10px;
    line-height: 159.9%;
  }

  .main-bottom .col-12 .task__info object {
    width: 12px;
    height: 12px;
  }

  .main-bottom .col-12 .task__info object svg {
    margin-top: -61px;
  }

  .main-bottom__card {
    -webkit-clip-path: polygon(100% 0, 100% 81%, 78% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 81%, 78% 100%, 0 100%, 0 0);
  }

  .main-bottom__card .card__info {
    padding: 44px 10px;
    padding-right: 0;
  }

  .main-bottom__card .card__info .title {
    font-size: 30px;
    line-height: 99.6%;
  }

  .main-bottom__card .card__info .descr {
    font-size: 11px;
    line-height: 141.9%;
    width: 119px;
  }

  .main-bottom__card .card__info .old__price {
    font-size: 20px;
    line-height: 24px;
  }

  .main-bottom__card .card__info .price {
    margin-top: -6px;
  }

  .main-bottom__card .card__info .mt {
    margin-top: 33px;
  }

  .main-bottom__card .card__image .shadow {
    width: 125px;
    right: -15px;
    bottom: 25px;
  }

  .footer {
    margin-top: 30px;
  }

  .footer .col-md-3 img {
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .footer__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }

  .footer__menu ul li {
    margin-bottom: 30px;
  }

  .footer__contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__contacts .callback {
    margin-top: 0;
  }

  .footer__descr {
    left: 13px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    text-align: left;
    font-size: 11px;
    line-height: 131.4%;
  }

  .modal {
    padding-right: 0 !important;
  }

  .modal .modal-dialog .modal-title {
    font-size: 17px;
  }

  .modal .form__item .btn {
    padding: 22px 92px;
  }
}

.webp .main-top { background: url(../img/Subtract.webp) center center/cover no-repeat; }

.webp .main-top .hedgehog-left { background: url(../img/hedgehog-left.webp) left center/cover no-repeat; }

.webp .main-top .hedgehog-right { background: url(../img/hedgehog-right.webp) left center/cover no-repeat; }